In [1]:
import pandas as pd

In [10]:
# Read in CSV
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

### STEP 1

In [11]:
# Filter data - all rows where total_votes >= 20
vine_high_votes = vine_df[vine_df["total_votes"] >= 20]
vine_high_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

### STEP 2

In [12]:
# Filter data - all rows where helpful_votes / total_votes >= 50%
total_filter = vine_high_votes["total_votes"]
helpful_filter = vine_high_votes["helpful_votes"]
vine_helpful = vine_high_votes[(helpful_filter/total_filter) >= .50]
vine_helpful.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

### STEP 3

In [13]:
# Create a new data frame that retieves all rows paid by Vine programe (vine == 'Y')

vine_paid = vine_helpful[vine_helpful["vine"]=="Y"]
vine_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

### STEP 4

In [15]:
# vine == 'N'

vine_unpaid = vine_helpful[vine_helpful["vine"]=="N"]
vine_unpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

### STEP 5

In [24]:
# Determine total number of reviews
total_reviews = len(vine_helpful)
total_reviews

40565

In [29]:
# Determine total number of PAID reviews
total_pd = len(vine_paid)
total_pd

94

In [30]:
# Determine total number of UNPAID reviews
total_unpaid = len(vine_unpaid)
total_unpaid

40471

In [31]:
# Total reviews double check
total_reviews_check = total_pd + total_unpaid
total_reviews_check

40565

In [25]:
# Determine the number of 5-star reviews
total_fives= len(vine_helpful[vine_helpful["star_rating"]==5])
total_fives

15711

In [23]:
# Determine the number of PAID 5-star reviews
total_pd_fives= len(vine_paid[vine_paid["star_rating"]==5])
total_pd_fives

48

In [22]:
# Determine the number of UNPAID 5-star reviews
total_unpd_fives= len(vine_unpaid[vine_unpaid["star_rating"]==5])
total_unpd_fives

15663

In [27]:
# Double check total number of 5 star reviews
total_fives_check = total_pd_fives + total_unpd_fives
total_fives_check

15711

In [33]:
# Determine the percentage of PAID 5-star reviews
percent_paid = (total_pd_fives/total_pd)*100
percent_paid

51.06382978723404

In [34]:
#  Determine the percentage of UNPAID 5-star reviews
percent_unpaid = (total_unpd_fives/total_unpaid)*100
percent_unpaid

38.701786464381904